h1{
   padding-top: 15px;
   text-align: center;
   color: #6528F7
}
h2{
   
   vertical-align: bottom;
}

body{
   background-color:#EDE4FF;
   color: #6528F7;
}

.text{
padding-left: 30px;
font-size: 20px;
}